//-------- abstracts ------------//
@use './scss/abstracts/variables';

//----------- base --------------//
@use './scss/base/base';
@use './scss/base/resets';

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  --swiper-theme-color: var(--redy);
  --PhoneInput-color--focus: #a60715;
  --PhoneInputCountrySelectArrow-color--focus: #a60715;
  --PhoneInputCountryFlag-borderColor--focus: #a60715;
}
