@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

:root {
  /* fonts */
  --primary-font: 'Adamina', serif;
  font-family: --primary-font;

  /* colors */
  --blacky: #22181C;
  --yellowy: #FFFD98;
  --redy: #E53D00;
  --navbarBackground: rgba(233, 233, 233, 0.747);
  --background: #fbfbfd;
}