.contenedor{
    margin-top: 2em;
    .ul{
        width: 100%;
        display: flex;
    }
    .li{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #cacaca98;
        padding: 1em;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        cursor: pointer;
        transition: all .5s ease;
        box-shadow: 4px -1px var(--blacky);
        svg{
            margin-right: 0.5em;
        }
    }
    .li.activo{
        background: var(--redy);
        color: white;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
    }
    .li:hover{
        background: var(--yellowy-stronger);
        
    }
    .li.activo:hover{
        background: var(--redy);
    }
    .subcontenedor{
        box-shadow: -0px -1px 11px 1px var(--blacky);
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .bloque{
        padding: 1em;
        transition: all .5s ease;
        h2{
            font-size: 1.2em;
        }
        svg{
            margin-right: 0.2em;
        }
        .parrafoDos{
            margin-top: 1em;
        }
        .checklist{
            display: flex;
            flex-wrap: wrap;
            padding: 1em 0;
            li{
                width: 50%;
                padding-right: 0.5em;
                padding-top: 0.5em;
            }
        }
    }
    .bloque.activo{
        transition: all .5s ease;
    }
    .inactivo{
        display: none;
    }
}
