.beneficios-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
    h1{
        font-family: var(--producto-titulos-font);
        font-size: 2.5em;
    }
    .beneficios-grid {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        // width: 80em;
        padding-top: 2em;
        // display: grid;
        // padding: 3em;
        // display: grid;
        // width: 800px;
        // height: 800px;
        // background: yellow;
        // grid-template-rows: 10em 10em 10em;
        // grid-template-columns: 20em 20em 20em;
        // grid-gap: 3em;
        // justify-content: space-evenly;
        // align-content: center;
        .Beneficio-card {
            border: 1px solid #949494;
            border-radius: 1em;
            padding: 1em;
            width: 25em;
            min-height: 16em;
            margin-bottom: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #cacaca98;
            box-shadow: 3px 4px 15px 0px #8f8f8f;
            text-align: center;
            .img-benef {
            height: 4em;
            }
            h3 {
            font-family: var(--producto-subtitulos-font);
            font-size: 1.5em;
            }
            p {
            font-family: var(--producto-parrafos-font);
            }
        }
    }
}




@media (max-width: 1212px){
    .beneficios-div {
        text-align: center;
        display: flex;
        h1{
            font-family: var(--producto-titulos-font);
            font-size: 2em;
        }
        .beneficios-grid {
            margin-bottom: 2em;
            .Beneficio-card {
                width: 20em;
            }
        }
    }
}


@media (max-width: 600px){
    .beneficios-div {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-family: var(--producto-titulos-font);
            font-size: 2em;
        }
        .beneficios-grid {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            width: 20em;
            .Beneficio-card {
                width: 20em;
            }
        }
    }
}