.div-certificado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--blacky);
    padding-top: 3em;
    .h1{
        font-family: var(--producto-titulos-font);
        font-size: 2.5em;
        color: #ddddde;
        margin-bottom: 1em;
    }
    .div-contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 3em 3em 3em;
        .img-certificado{
            border-radius: 1em;
            height: 20em;
            width: 28em;
            margin-right: 2em;
        }
        .texto-certificado{
            color: #ddddde;
            font-family: var(--producto-parrafos-font);
            font-size: 1.7em;
        }
    }
}