.div-comunidad{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blacky);
    .h1{
        font-family: var(--producto-titulos-font);
        font-size: 2.5em;
        color: #ddddde;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .cards{
        .card{
            display: flex;
        }
    }
}