.description-container{
    // height: 10em;
    padding: 3em 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // PARA EL FONDO NEGRO
    // background-color: var(--blacky);
    
    .descripcion-texts-container, .info-boxes-container{
        font-family: var(--producto-parrafos-font);
        font-size: 1.29em;
    }
    .descripcion-texts-container{
        width: 33em;
        
        // PARA EL FONDO NEGRO
        // color: white;

        .aqui-va-la-img{
            margin-top: 1em;
            width: 681.109px;
            height: 722.391px;
        }
    }
    .info-boxes-container{
        width: 16em;
        text-align: center;
        .header-inscripcion{
            background-color: var(--yellowy-stronger);
            height: 5em;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            padding: 0.8em;
            h2{
                font-family: var(--producto-titulos-font);
                font-size: 1.3em;
            }
            p{
                margin-top: 0.4em;
            }
        }
        .content-inscripcion{
            background-color: #cacaca98;
            padding: 1em;
            margin-bottom: 1em;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;

            // PARA EL FONDO NEGRO
            // background-color: #DDDDDE;
            ul{
                .list{
                    .info{
                        display: flex;
                        justify-content: center;
                        svg{
                            color: green;
                            margin-top: 0.9em;
                            margin-right: 0.2em;
                        }
                        li{
                            font-size: 0.95em;
                            margin-top: 1em;
                            margin-bottom: 1em;
                        }
                    }
                    .divider{
                        border: 1px solid #b4b4b4;
                        width: 10em;
                        margin-left: 2em;
                    }
                }
            }
        }

        .pagos{
            background-color: #cacaca98;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;

            // // PARA EL FONDO NEGRO
            // background-color: #DDDDDE;
            .header-pago, .content-pago-after{
                padding: 1em;
                h2{
                    font-family: var(--producto-titulos-font);
                    font-size: 1.2em;
                }
                p{
                    margin-top: 0.6em;
                }
            }
            .content-pago{
                .pagos-img{
                    height: 16em;
                    width: 16em;
                }
            }
        }
    }
}