.description-container{
    // height: 10em;
    padding: 3em 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    // PARA EL FONDO NEGRO
    background-color: var(--blacky);
    
    .descripcion-texts-container, .info-boxes-container{
        font-family: var(--producto-parrafos-font);
        font-size: 1.29em;
    }
    .descripcion-texts-container{
        width: 33em;
        
        // PARA EL FONDO NEGRO
        color: white;
        // ESTO ES LO QUE SE PUEDE CAMBIAR SI SE LE PUEDE HACER EL GOUP DEL DETALLE CONDICIONAL PRA CADA PRODUCTO
        // .datoinicial {
        //     height: 400px;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        // }
        // .BaristaPrincipiantedato{
        //     line-height: 2em;
        //     font-size: 1.3em;
        // }
        // HASTA AQUI
        .aqui-va-la-img{
            margin-top: 1em;
            width: 681.109px;
            height: 722.391px;
        }
        .GastronomíaInternacionalOnline7cursosincluidos{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070051/productos/Gastronom%C3%ADa%20Internacional:%207%20cursos%20incluidos/malla-gastronomiainternacional7c_hhppnq.jpg');
        }
        .DiplomadoOnlineenGastronomíaInternacional{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070051/productos/Diplomado%20online%20en%20Gastronom%C3%ADa%20Internacional/malla-diplomadogastronomiainternacional14c_egk6on.jpg');
            height: 1080px;
            width: 519px;
            margin-left: 4em;
        }
        .DiplomadoOnlineenCocinaInternacional{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070049/productos/Diplomado%20online%20en%20cocina%20internacional/malla-diplomadococinainternacional_ggotrg.jpg');
            height: 1080px;
            width: 707px;
        }
        .DiplomadoOnlinedeReposteríayPastelería{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070055/productos/Diplomado%20online%20en%20Reposter%C3%ADa%20y%20pasteler%C3%ADa/malla-diplomadoreposteriaypasteleria_s5bvma.jpg');
        }
        .PastelesconDiseñoInterno{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070051/productos/Pasteles%20con%20dise%C3%B1o%20interno/malla-pastelescondise%C3%B1ointerno_s6wrut.jpg');
        }
        .AprendeCocinaVegana{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070051/productos/Aprende%20cocina%20vegana/malla-aprendecocinavegana_l41rkn.jpg');
        }
        .BaristaPrincipiante{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070052/productos/Barista%20principiante/malla-baristaprincipiante_sayaqx.jpg');
        }
        .BartenderparaPrincpiantes{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070050/productos/Bartender%20para%20principiantes/malla-bartenderparaprincipiantes_jdnusr.jpg');
        }
        .ChocofresasIrresistibles{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070053/productos/Chocofresas%20irresistibles/malla-chocofresasirresistibles_ubozjk.jpg');
        }
        .CocinaMexicana{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070048/productos/Cocina%20Mexicana/malla-cocinamexicana_civpcr.jpg');
        }
        .CursoChocolateríaOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070041/productos/Curso%20Chocolater%C3%ADa%20Online/malla-chocolateria_j0xcnu.jpg');
        }
        .CursoCocinaÁrabeOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070045/productos/Curso%20Cocina%20%C3%81rabe/malla-cocinaarabe_jkbapb.jpg');
        }
        .CursoCocinaBrasileraOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070048/productos/Curso%20Cocina%20Brasilera/malla-cocinabrasilera_w0vuy8.jpg');
        }
        .CursoCocinaCoreanaOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070043/productos/Curso%20Cocina%20Coreana/malla-cocinacoreana_jm6nfd.jpg');
        }
        .CursoCocinaFrancesaOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070043/productos/Curso%20Cocina%20Francesa/malla-cocinafrancesa_drzlmx.jpg');
        }
        .CursoCocinaIndiaOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070045/productos/Curso%20Cocina%20India/malla-cocinaindia_ymzrcq.jpg');
        }
        .CursoCocinaMexicanaOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070048/productos/Curso%20Cocina%20Mexicana/malla-cocinamexicanaonlina_txj1qx.jpg');
        }
        .CursoCocinaNikkeiOnline{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070045/productos/Curso%20Cocina%20Nikkei/malla-cocinanikkei_guar8i.jpg');
        }
        .CursoCocteleríaenCasa{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070048/productos/Curso%20cocteler%C3%ADa%20en%20casa/malla-cocteleriaencasa_rjvhpd.jpg');
        }
        .CervezaArtesanalCasera{
            background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679070054/productos/Cerveza%20artesanal%20casera/malla-cervezaartesanal_wkwwjv.jpg');
        }
        .video-entrevista-profe{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            .video-profe{
                margin-top: 1em;
            }
        }
    }
    .info-boxes-container{
        width: 16em;
        text-align: center;
        .header-inscripcion{
            background-color: var(--yellowy-stronger);
            height: 5em;
            border-top-right-radius: 1em;
            border-top-left-radius: 1em;
            padding: 0.8em;
            h2{
                font-family: var(--producto-titulos-font);
                font-size: 1.3em;
            }
            p{
                margin-top: 0.4em;
            }
        }
        .content-inscripcion{
            background-color: #cacaca98;
            padding: 1em;
            margin-bottom: 1em;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;

            // PARA EL FONDO NEGRO
            background-color: #DDDDDE;
            ul{
                .list{
                    .info{
                        display: flex;
                        justify-content: center;
                        svg{
                            color: green;
                            margin-top: 0.9em;
                            margin-right: 0.2em;
                        }
                        li{
                            font-size: 0.95em;
                            margin-top: 1em;
                            margin-bottom: 1em;
                        }
                    }
                    .divider{
                        border: 1px solid #b4b4b4;
                        width: 10em;
                        margin-left: 2em;
                    }
                }
            }
        }

        .pagos{
            background-color: #cacaca98;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;

            // PARA EL FONDO NEGRO
            background-color: #DDDDDE;
            .header-pago, .content-pago-after{
                padding: 1em;
                h2{
                    font-family: var(--producto-titulos-font);
                    font-size: 1.2em;
                }
                p{
                    margin-top: 0.6em;
                }
            }
            .content-pago{
                .pagos-img{
                    height: 16em;
                    width: 16em;
                }
            }
        }
    }
}