.footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blacky);
    height: 5em;
    text-align: center;
    .h1{
        color: #ddddde8c;
        font-size: 1.3em;
    }
}