.navBar-product-detail-container{
    display: flex;
    flex-direction: row;
    background-color: var(--redy);
    .navBar-product-detail{
        display: flex;
        justify-content: center;
        .titulo-product-detail{
            font-family: var(--producto-titulos-font);
            font-size: 2em;
            margin-right: 1em;
            color: var(--background);
        }
        .boton-product-detail{
            background-color: var(--yellowy);
            background-color: var(--yellowy-stronger);
            color: var(--blacky);
            font-size: 1em;
            font-weight: bolder;
            border-radius: 2em;
            box-shadow: -0px -1px 15px 2px #7c036c;
        }
    }
}