.navBar-product-detail-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--redy);
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1em;
    .navBar-product-detail{
        display: flex;
        justify-content: center;
        .titulo-product-detail{
            font-family: var(--producto-titulos-font);
            font-size: 2em;
            margin-right: 1em;
            color: var(--background);
        }
        .boton-product-detail{
            background-color: var(--yellowy-stronger);
            color: var(--blacky);
            font-size: 1em;
            font-weight: bolder;
            border-radius: 2em;
            box-shadow: -0px -1px 15px 2px #ffae00;
            margin-right: 1.5em;
        }
    }
}

@media (max-width: 414px){
    .navBar-product-detail-container{
        padding: .4em;
        display: flex;
        flex-direction: column;
        .navBar-product-detail{
            align-items: center;
            justify-content: center;
            .titulo-product-detail{
                width: 20em;
                font-size: 1em;
            }
            .boton-product-detail{
                font-size: .6em;
            }
        }
    }
}