.div-precio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .quote{
        padding-right: 1em;
        padding-left: 1em;
        font-family: var(--producto-titulos-font);
        font-size: 2.5em;
        color: #080808;
        margin-bottom: .5em;
    }
    .precioMayor{
        font-family: var(--producto-titulos-font);
        color: rgb(80, 80, 80);
        font-size: 4em;
        text-decoration: line-through;
        margin-bottom: -0.5em;
    }
    .div-PrecioReal{
        display: flex;
        color: var(--redy);
        font-family: var(--producto-titulos-font);
        font-size: 4em;
        .h6{
            margin-top: 1em;
            margin-right: .4em;
        }
    }
    .div-infoPago{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // height: 10em;
        margin-top: 2em;
        margin-bottom: 2em;
        .cards{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 65em;
            .card{
                padding: 0 2em;
                border: 3px solid var(--redy);
                border-radius: 1em;
                height: 22em;
                width: 20em;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #e53d002a;
                img{
                    height: 15em;
                    border-radius: 1em;
                    margin-top: -2em;
                }
                p{
                    margin-top: 1em;
                    font-family: var(--producto-parrafos-font);
                    font-size: 1.5em;
                    font-weight: bolder;
                    h6{
                        font-family: var(--producto-titulos-font);
                        color: var(--redy);
                        font-size: 1em;
                    }
                }
                .p1, .p2{
                    margin-top: 2.3em;
                }
            }
        }
    }
    .BotonCompraPrecios{
        position: relative;
        color: var(--blacky);
        border: 1px solid var(--redy);
        border-radius: 250px;
        padding: 0.5em 0.2em;
        background: #ffdf2b;
        transition: 0.2s;
        font-size: 2.5em;
        font-weight: bolder;
        margin-bottom: .3em;
        width: 18em;
        font-family: var(--producto-titulos-font);
    }
    .BotonCompraPrecios:hover {
        color: var(--blacky);
        transform: translate(-0.25rem,-0.25rem);
        background: var(--yellowy-stronger);
        box-shadow: 0.25em 0.25em var(--redy);
        border: 1px solid var(--redy);
    }
    
    .BotonCompraPrecios:active {
        transform: translate(0);
        box-shadow: none;
    }
    .img-boton-compra-precio{
        height: 4em;
        margin-bottom: 1em;
    }
    .img-garantia{
        height: 9em;
        margin-bottom: 1em;
    }
}
