.timer-container{
    display: flex;
    align-items: center;
    right: 0;
    font-size: 1.3em;
    color: var(--background);
    z-index: 99;
    width: 115px;
}

@media (max-width: 600px){
    .timer-container{
        font-size: .8em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 905px){
    .timer-container{
        font-size: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}