.title-product-detail-container{
    .image-div{
        position: relative;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .img-fondo{
            width: 100%;
            height: 110vh;
            opacity: .8;
        }
        
        .GastronomíaInternacionalOnline7cursosincluidosimgfondo{
            filter: brightness(70%);
        }
        .DiplomadoOnlineenGastronomíaInternacionalfondo{
            filter: brightness(80%);
        }
        .DiplomadoOnlineenCocinaInternacionalfondo{
            filter: brightness(80%);
        }
        .title-product-detail{
            position: absolute;
            -webkit-text-stroke: 3px var(--background) /* var(--redy) */ /* var(--blacky) */ /* var(--yellowy) */;
            color: transparent;
            text-align: center;
            text-transform: uppercase;
            font-family: var(--producto-titulos-font);
            font-size: 6em;
            font-weight: bolder;
            position: absolute;
            margin-top: 1em;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color : transparent;
            background-color: var(--redy);
        }
        // .GastronomíaInternacionalOnline7cursosincluidos{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679117463/productos/Gastronom%C3%ADa%20Internacional:%207%20cursos%20incluidos/fondotextocc_nsiu0u.jpg');
        //     background-size: 30%;
        //     filter: brightness(90%);
        // }
        // .DiplomadoOnlineenGastronomíaInternacional{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679117972/productos/Diplomado%20online%20en%20Gastronom%C3%ADa%20Internacional/fondotextocc_ipdvht.jpg');
        //     background-size: 10%;
        // }
        // .DiplomadoOnlineenCocinaInternacional{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118066/productos/Diplomado%20online%20en%20cocina%20internacional/fondotextocc_unkrfi.jpg');
        //     background-size: 5%;
        //     -webkit-text-stroke: 3px var(--blacky);
        // }
        // .DiplomadoOnlinedeReposteríayPastelería{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118178/productos/Diplomado%20online%20en%20Reposter%C3%ADa%20y%20pasteler%C3%ADa/fondotextocc_qwq4ps.jpg');
        //     background-size: 11%;
        //     -webkit-text-stroke: 3px var(--blacky);
        // }
        // .PastelesconDiseñoInterno{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118243/productos/Pasteles%20con%20dise%C3%B1o%20interno/fondotextocc_zeeo77.jpg');
        //     background-size: 14%;
        // }
        // .AprendeCocinaVegana{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118355/productos/Aprende%20cocina%20vegana/fondotextocc_szkebm.jpg');
        //     background-size: 7%;
        //     -webkit-text-stroke: 3px var(--blacky);
        // }
        // .BaristaPrincipiante{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118441/productos/Barista%20principiante/fondotextocc_isl0gl.jpg');
        //     background-size: 88%;
        //     background-position: top;
        // }
        // .BartenderparaPrincipiantes{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118601/productos/Bartender%20para%20principiantes/fondotextocc_wfgi7t.jpg');
        //     background-size: 6%;
        // }
        // .ChocofresasIrresistibles{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118667/productos/Chocofresas%20irresistibles/fondotextocc_h9mk4c.jpg');
        //     background-size: 5%;
        // }
        // .CocinaMexicana{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679118734/productos/Cocina%20Mexicana/fondotextocc_mi61gl.jpg');
        //     background-size: 15%;
        // }
        // .CursoChocolateríaOnline{
        //     background-image: url("https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121318/productos/Curso%20Chocolater%C3%ADa%20Online/fondotextocc_heu2fe.jpg");
        //     background-position: center;
        //     background-size: 5%;
        // }
        // .CursoCocinaÁrabeOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121371/productos/Curso%20Cocina%20%C3%81rabe/fondotextocc_sxytkn.jpg');
        //     background-position: center;
        //     background-size:25%;
        // }
        // .CursoCocinaBrasileraOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121420/productos/Curso%20Cocina%20Brasilera/fondotextocc_z6jdk6.jpg');
        //     background-position: center;
        //     background-size: 5%;
        // }
        // .CursoCocinaCoreanaOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121491/productos/Curso%20Cocina%20Coreana/fondotextocc_jqoxnf.jpg');
        //     background-position: center;
        //     background-size: 5%;
        // }
        // .CursoCocinaFrancesaOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121547/productos/Curso%20Cocina%20Francesa/fondotextocc_ldxquv.jpg');
        //     background-position:center;
        //     background-size: 5%;
        // }
        // .CursoCocinaIndiaOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121873/productos/Curso%20Cocina%20India/fondotextocc_znetse.jpg');
        //     background-position:center;
        //     background-size: 5%;
        // }
        // .CursoCocinaMexicanaOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121653/productos/Curso%20Cocina%20Mexicana/fondotextocc_l1jqo9.jpg');
        //     background-position:center;
        //     background-size: 5%;
        // }
        // .CursoCocinaNikkeiOnline{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121687/productos/Curso%20Cocina%20Nikkei/fondotextocc_ghtq0n.jpg');
        //     background-position:center;
        //     background-size: 5%;
        // }
        // .CursoCocteleríaenCasa{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121749/productos/Curso%20cocteler%C3%ADa%20en%20casa/fondotextocc_uctx7n.jpg');
        //     background-position:center;
        //     background-size: 5%;
        // }
        // .CervezaArtesanalCasera{
        //     background-image: url('https://res.cloudinary.com/dgcn9sprj/image/upload/v1679121934/productos/Cerveza%20artesanal%20casera/fondotextocc_cwhgxh.jpg');
        //     background-position:bottom;
        //     background-size: 25%;
        // }
        .video{
            height: 39em;
            width: 70em;
            margin-top: -16em;
            margin-bottom: 2.5em;

            // PARA EL FONDO NEGRO
            margin-bottom: 7em;
            z-index: 1;
        }
        svg{
            position: absolute;
            bottom: 0;
            z-index: 0;
        }
    }
}