.title-product-detail-container{
    .image-div{
        position: relative;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .img-fondo{
            width: 100%;
            height: 110vh;
        }
        .title-product-detail{
            position: absolute;
            -webkit-text-stroke: 3px var(--background) /* var(--redy) */ /* var(--blacky) */ /* var(--yellowy) */;
            color: transparent;
            text-align: center;
            text-transform: uppercase;
            font-family: var(--producto-titulos-font);
            font-size: 6em;
            font-weight: bolder;
            position: absolute;
            margin-top: 1em;
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color : transparent;
        }
        .BaristaPrincipiante{
            background-image: url('../../../../Images/coffee-3.jpg');
        }
        .video{
            height: 39em;
            width: 70em;
            margin-top: -16em;
            margin-bottom: 2.5em;

            // PARA EL FONDO NEGRO
            // margin-bottom: 7em;
            // z-index: 1;
        }
        // svg{
        //     position: absolute;
        //     bottom: 0;
            // z-index: 0;
            // height: 1em;
        // }
    }
}