#first, #second, #third, #fix_f, #fix_s, #fix_t {
    position: relative;
}
#facebook, #second, #fix_s, #fix_t {
    background-color: var(--background);
}
#fix_s, #fix_t {
    width: 0.141em;
    height: 0.047em;
}
#first, #third, #fix_f {
    background-color: var(--blacky);
}
#facebook {
    margin: 0.47em auto;
    padding: 0;
    width: 1.88em;
    height: 1.88em;
    border-radius: 2.82em;
    overflow: hidden;
    #first {
        width: 0.611em;
        height: 1.504em;
        left: 0.846em;
        top: 0.376em;
        border-top-left-radius: 0.423em;
    }
    #second {
        width: 0.47em;
        height: 1.222em;
        left: 1.175em;
        top: -0.846em;
        border-top-left-radius: 0.141em;
    }
    #third {
        width: 0.752em;
        height: 0.282em;
        top: -1.786em;
        left: 0.611em;
    }
    #fix_f {
        width: 0.141em;
        height: 0.2867376em;
        top: -2.0774em;
        left: 1.269em;
        transform: rotate(0.5264deg);
    }
    #fix_s {
        top: -2.4017376em;
        left: 1.269em;
    }
    #fix_t {
        top: -26.49672em;
        left: 1.269em;
    }
}

#facebook:hover{
    background-color: #1877f2;
    #second, #fix_s, #fix_t {
        background-color: #1877f2;
    }
}