.alert{
    color: var(--background);
}

.div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    background-image: url('../../Images/cerezas.png');
    background-size: 100%;
    background-position: center center;
    .form-container{
        border: solid #a60715 2px;
        background-color: rgba(166, 7, 21, 0.6);
        border-radius: 2em;
        width: 31em;
        min-height: 28.1em;
        .already-subscribed{
            display: none;
        }
        .sub-error{
            display: none;
        }
        .no-suscrito{
            display: none;
        }
        .titulo-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2em;
            font-family: var(--primary-font);
            h2{
                text-shadow: 1px 1px 5px #e3c3c5;
            }
            p{
                text-align: center;
            }
        }
        .form{
            display: flex;
            justify-content: center;
            padding-bottom: 1.5em;
            .registration{
                display: flex;
                flex-direction: column;
                align-items: center;
                .nombres{
                    display: flex;
                    margin-left: 0.5em;
                    .input-groupy {
                        .input{
                            width: 13.29em;
                            text-transform: capitalize;
                        }
                    }
                }
                .inputs-abajo{
                    margin-top: 15px;
                    margin-left: 0.5em;
                    .div-phone-input{
                        width: 27.5em;
                        position: relative;
                        margin-bottom: 10px;
                        .user-label-phone {
                            position: absolute;
                            left: 15px;
                            color: #a60715;
                            pointer-events: none;
                            transform: translateY(0.5rem) translateX(2.6rem); 
                            z-index: 1;
                            transition: 150ms cubic-bezier(0.4,0,0.2,1);
                            font-size: 17px;
                            border-radius: 2rem;
                            padding: 3px;
                        }
                        
                        .phone-input{
                            padding-left: 1em;
                            padding-right: 1em;
                            padding-top: 0.9em;
                            padding-bottom: 0.5em;
                            background-color: rgba(219, 153, 158, 0.9);
                            border-radius: 2rem;
                            position: relative;
                            width: 27.1em;
                            select{
                                background-color: rgba(219, 153, 158, 0.9);
                                font-family: var(--primary-font);
                                color: #a60715;
                                font-size: 0.9em;
                            }
                            input{
                            border: solid 1.5px #db999f00;
                            background-color: rgba(219, 153, 158, 0);
                            border-radius: 1rem;
                            font-size: 1rem;
                            color: #a60715;
                            height: 1em;
                            font-family: var(--primary-font);
                            }
                        
                            input:focus{
                                border: none;
                                outline: none;
                            }
                        }
                    }
                    .clicked{
                        .user-label-phone {
                            position: absolute;
                            left: 15px;
                            color: #a60715;
                            pointer-events: none;
                            transform: translateY(-0.6rem) translateX(1rem); 
                            z-index: 1;
                            transition: 150ms cubic-bezier(0.4,0,0.2,1);
                            font-size: 14px;
                            background-color: rgba(219, 153, 158, 0.9);
                            border-radius: 2rem;
                            padding: 3px;
                        }
                        .phone-input{
                            border: 1.5px solid #a60715;
                        }
                    }
                    .input-groupy {
                        .input{
                            width: 27em;
                            margin-left: 1.2px;
                        }
                        select{
                            height: 2.3em;
                            padding-top: 1em;
                            option{
                                :focus-visible{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
                .errors{
                    color: #000000;
                    text-shadow: 0px 1px 0px #000000;
                    margin-left: 0.7em;
                    margin-top: 3px;
                    font-size: 15px;
                    font-family: var(--primary-font);
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                }
                // .face:hover {
                //     transform: translate3d(0, 0, 0);
                //     backface-visibility: hidden;
                //     perspective: 1000px;
                //   }
                @keyframes shake {
                    10%, 90% {
                    transform: translate3d(-1px, 0, 0);
                    }
                    
                    20%, 80% {
                    transform: translate3d(2px, 0, 0);
                    }
                
                    30%, 50%, 70% {
                    transform: translate3d(-4px, 0, 0);
                    }
                
                    40%, 60% {
                    transform: translate3d(4px, 0, 0);
                    }
                }
                .ErrNombres{
                    max-width:11em;
                }

                .input-groupy {
                    position: relative;
                    margin-bottom: 10px;
                    .input {
                        border: solid 1.5px #db999ee6;
                        background-color: rgba(219, 153, 158, 0.9);
                        border-radius: 2rem;
                        padding: 1rem;
                        font-size: 1rem;
                        color: #a60715;
                        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
                        height: 2.4em;
                        margin-right: 10px;
                    }
                    
                    .user-label {
                        position: absolute;
                        left: 15px;
                        color: #a60715;
                        pointer-events: none;
                        transform: translateY(0.5rem);
                        transition: 150ms cubic-bezier(0.4,0,0.2,1);
                        font-size: 17px;
                    }
                    
                    .input:focus, input:valid {
                        outline: none;
                        border: 1.5px solid #a60715;
                    }
                    
                    .input:focus ~ label, input:valid ~ label {
                        transform: translateY(-50%) scale(0.8);
                        background-color: rgba(219, 153, 158, 0.9);
                        border-radius: 1em;
                        padding: 0 .2em;
                        color: #a60715;
                    }
                }
                

                .input-group{
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(219, 153, 158, 0.9);
                    margin-bottom: 1em;
                    border-radius: 0.6em;
                    input {
                        margin: 0.1em 1em 0.3em;
                        background-color: rgba(186, 216, 110, 0);
                        border: none;
                        outline: none;
                    }
                    input:active{
                        border: none;
                    }
                    span {
                        margin-left: 0.5em;
                        font-weight: bold;
                    }
                }
                .boton-div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 15px;
                    .boton {
                        position: relative;
                        font-family: var(--primary-font);
                        font-weight: 500;
                        font-size: 14px;
                        letter-spacing: 0.05em;
                        border-radius: 0.9em;
                        color: ghostwhite;
                        overflow: hidden;
                        width: 9em;
                        height: 2em;
                        display: flex;
                        justify-content: center;
                        background: #a60715;
            
                        span {
                        position: relative;
                        z-index: 10;
                        transition: color 0.4s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.3em;
                        }
                    }
                    .boton::before,
                    .boton::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    
                    .boton::before {
                        content: "";
                        background: #000;
                        width: 120%;
                        left: -10%;
                        transform: skew(30deg);
                        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                    }
                    
                    .boton:hover::before {
                        transform: translate3d(100%, 0, 0);
                    }
                    
                    .boton:active {
                        transform: scale(0.95);
                    }
                }
                .categories{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 0.5em;
                    .category{
                        display: flex;
                        background: rgba(219, 153, 158, 0.9);
                        height: 3em;
                        width: 8.5em;
                        margin-right: 0.4em;
                        margin-left: 0.4em;
                        margin-bottom: 0.5em;
                        border: 1px solid #a60715;
                        border-radius: 10px;
                        padding-left: 10px;
                        h5{
                            align-self: center;
                            font-size: 15px;
                            width: 7em;
                            text-align: center;
                        }
                        button{
                            height: 2em;
                            width: 2em;
                            margin-top: 2px;
                            margin-left: 6px;
                            margin-right: 2px;
                            border: 2px solid #a60715;
                            background-color: #e2414e;
                            border-radius: 2em;
                            // padding: 0.8em 1.2em 0.8em 1em;
                            transition: all ease-in-out 0.2s;
                            font-size: 12px;
                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #fff;
                                font-weight: 600;
                            }
                        }
                        button:hover {
                        background-color: #a60715;
                        }
                    }
                }
            }
        }
    }
    .suscrito {
        display: flex;
        justify-content: center;
        align-items: center;
        .titulo-form{
            display: none;
        }
        .form{
            display: none;
        }
        .gracias{
            background-color: rgba(219, 153, 158, 0.9);
            width:28em;
            height: 19em;
            border-radius: 3em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2em;
            font-family: var(--primary-font);
            h2{
                margin-bottom: 1em;
                text-align: center;
                text-shadow: 1px 1px 5px #e3c3c5;
            }
            p{
                margin-bottom: 1em;
                text-align: center;
            }
        

            .boton-div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                .boton {
                    position: relative;
                    font-family: var(--primary-font);
                    font-weight: 500;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    border-radius: 0.9em;
                    color: ghostwhite;
                    overflow: hidden;
                    width: 13em;
                    height: 2em;
                    display: flex;
                    justify-content: center;
                    background: #a60715;
        
                    span {
                    position: relative;
                    z-index: 10;
                    transition: color 0.4s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.3em;
                    }
                }
                .boton::before,
                .boton::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }
                
                .boton::before {
                    content: "";
                    background: #000;
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                }
                
                .boton:hover::before {
                    transform: translate3d(100%, 0, 0);
                }
                
                .boton:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}

@media (max-width: 499px){
    .div-form{
        .form-container{
            width: 23em;
            .already-subscribed{
            }
            .sub-error{
            }
            .no-suscrito{
            }
            .titulo-form{
                text-align: center;
                h2{
                }
                p{
                }
            }



            .form{
                .registration{
                    .nombres{
                        .input-groupy {
                            .input{
                                width: 10em;
                            }
                        }
                    }
                    .inputs-abajo{
                        .div-phone-input{
                            width: 20em;
                            .phone-input{
                                width: 20em;
                            }
                        }
                        .input-groupy {
                            .input{
                                width: 20em;
                            }
                        }
                    }
                }
            }
        }
        .suscrito {
            .titulo-form{
            }
            .form{
            }
            .gracias{
                h2{
                }
                p{
                }
            }
        }
    }
}