.instagram{
    height: 2rem;
    width: 2rem;
    background: var(--background);
    border-radius: 30%;
    position: relative;
    span{
        content: '';
        border: 0.12rem solid var(--blacky);
        border-radius: 100%;
        width: 0;
        height: 0;
        right: 0.5rem;
        position: absolute;
        margin: auto;
        top: 0.5rem;
    }
}
.instagram:before{
    content: '';
    border: 0.14rem solid var(--blacky);
    border-radius: 30%;
    width: 1.25rem;
    height: 1.25rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.instagram:after{
    content: '';
    border: 0.14rem solid var(--blacky);
    border-radius: 100%;
    width: 0.5rem;
    height: 0.5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.instagram:hover{
    height: 2rem;
    width: 2rem;
    background: radial-gradient(
        circle at 33% 100% ,
        #fed373 4% ,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
    border-radius: 30%;
    position: relative;
    span{
        content: '';
        border: 0.12rem solid var(--blacky);
        border-radius: 100%;
        width: 0;
        height: 0;
        right: 0.5rem;
        position: absolute;
        margin: auto;
        top: 0.5rem;
    }
}