.loader-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63.938em;
    font-family: var(--primary-font);
    position: relative;
    padding: 3em;
    .fondo{
        position: absolute;
        z-index: -2;
        height: 35em;
        width: 80em;
        margin-top: -4em;
        margin-left: -1em;
    }
    .loader-gif{
        height: 23em;
        width: 23em;
        margin-top: 1em;
    }
    h1 {
        position: absolute;
        text-shadow: -3px 3px 0px #fffd98;
    }
}