
.appNavbar {
    display: flex;
    background-color: var(--blacky);
    justify-content: space-between;
    height: 6.875em;
    position: fixed;
    z-index: 100;
    width: 100%;
    .left-side{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15.5em;
        margin-left: 0.9em;
        .logo{
            height: 100px;
        }
        .title{
            font-family: var(--titulo-font);
            font-size: 27px;
            text-align-last: right;
            margin-left: 10px;
            color: var(--background);
            font-weight: 100;
        }
    }
    .right-side{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 43em;
        margin-right: 20px;
        .navBar-links{
            font-size: 18px;
            color: var(--background);
            font-family: var(--primary-font);
            font-weight: bolder;
            cursor: pointer;
            a{
                color: var(--background);
            }
        }
        .active {
            color: var(--redy);
            // background: var(--yellowy);
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3em;
            box-shadow: -0px -1px 15px 2px var(--redy);
        }
    }
}