.products-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: center;
    // justify-content: space-between;

    .card-container{
      padding-right: 2em;
      padding-bottom: 2em;
      .card {
        width: 20em;
        height: 29em;
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;
        .img-box{
          display: flex;
          justify-content: center;
          padding: 1em;
          .imagen{
            height: 17.5em;
          }
        }
        .card-details {
          font-family: var(--primary-font);
          font-size: 10px;
          padding: 0 1em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: black;
          // height: 100%;
          // // gap: .5em;
          // display: grid;
          // place-content: center;
        }
        .card-button {
          transform: translate(-50%, 125%);
          width: 60%;
          border-radius: 1rem;
          border: none;
          color: #fff;
          font-size: 1rem;
          padding: .5rem 1rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          opacity: 0;
          transition: 0.3s ease-out;
        }
        .text-body {
          color: rgb(134, 134, 134);
          padding: 0.4em 1em 0 1em;
          font-size: 1.2em;
        }
        /*Text*/
        .text-title {
          font-size: 1.8em;
          font-weight: bold;
          text-align: center;
          margin-bottom: 0.5em;
          height: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .nal:hover {
      border-color: var(--producto-uno);
      .card-button{
        background: var(--producto-uno);
      }
    }
    .str:hover{
      border-color: var(--producto-dos);
      .card-button{
        background: var(--producto-dos);
      }
    }
    .cin:hover{
      border-color: var(--producto-tres);
      .card-button{
        background: var(--producto-tres);
      }
    }
    .pos:hover{
      border-color: var(--producto-cuatro);
      .card-button{
        background: var(--producto-cuatro);
      }
    }
    .Pasteles:hover{
      border-color: var(--producto-cinco);
      .card-button{
        background: var(--producto-cinco);
      }
    }
    .Aprende:hover{
      border-color: var(--producto-seis);
      .card-button{
        background: var(--producto-seis);
      }
    }
    .Barista:hover{
      border-color: var(--producto-siete);
      .card-button{
        background: var(--producto-siete);
      }
    }
    .Bartender:hover{
      border-color: var(--producto-ocho);
      .card-button{
        background: var(--producto-ocho);
      }
    }
    .Chocofresas:hover{
      border-color: var(--producto-nueve);
      .card-button{
        background: var(--producto-nueve);
      }
    }
    .Cocina:hover{
      border-color: var(--producto-diez);
      .card-button{
        background: var(--producto-diez);
      }
    }
    .ter:hover{
      border-color: var(--producto-once);
      .card-button{
        background: var(--producto-once);
      }
    }
    .Ára:hover{
      border-color: var(--producto-doce);
      .card-button{
        background: var(--producto-doce);
      }
    }
    .Bra:hover{
      border-color: var(--producto-trece);
      .card-button{
        background: var(--producto-trece);
      }
    }
    .Cor:hover{
      border-color: var(--producto-catorce);
      .card-button{
        background: var(--producto-catorce);
      }
    }
    .Fra:hover{
      border-color: var(--producto-quince);
      .card-button{
        background: var(--producto-quince);
      }
    }
    .Ind:hover{
      border-color: var(--producto-dieciseis);
      .card-button{
        background: var(--producto-dieciseis);
      }
    }
    .Mex:hover{
      border-color: var(--producto-diecisiete);
      .card-button{
        background: var(--producto-diecisiete);
      }
    }
    .Nik:hover{
      border-color: var(--producto-dieciocho);
      .card-button{
        background: var(--producto-dieciocho);
      }
    }
    .ría:hover{
      border-color: var(--producto-diecinueve);
      .card-button{
        background: var(--producto-diecinueve);
      }
    }
    .Cerveza:hover{
      border-color: var(--producto-veinte);
      .card-button{
        background: var(--producto-veinte);
      }
    }
        
        /*Hover*/
        .card:hover {
          // border-color: #008bf8;
          box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        }

        
        .card:hover .card-button {
          transform: translate(-50%, 50%);
          opacity: 1;
        }


    // .card {
    //     width: 19em;
    //     height: 19em;
    //     transition: all .5s;
    //     box-shadow: 15px 15px 30px rgba(25, 25, 25, 0.11),
    //                -15px -15px 30px rgba(60, 60, 60, 0.082);
    //     text-align: center;
    //     overflow: hidden;
    //     margin-bottom: 3em;
    //     .header {
    //       padding: 20px;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       background: #212121;
    //       margin-bottom: 16px;
    //     }
    //     .title {
    //       display: flex;
    //       justify-content: center;
    //       align-items: center;
    //       height: 4em;
    //       font-family: var(--primary-font);
    //       font-size: 1.1em;
    //       font-weight: 560;
    //       padding: 4px 0 14px 0;
    //       transition: all .5s;
    //       color: #edededc5;
    //     }
    //     .content {
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       align-content: space-between;
    //       color: #212121;
    //       margin: 0 18px;
    //       p {
    //         font-family: var(--primary-font);
    //         font-size: 0.9em;
    //         transition: all .5s;
    //         margin-bottom: 2em;
    //       }
    //       .boton {
    //         position: relative;
    //         font-family: var(--primary-font);
    //         font-weight: 500;
    //         font-size: 14px;
    //         letter-spacing: 0.05em;
    //         border-radius: 0.9em;
    //         color: ghostwhite;
    //         overflow: hidden;
    //         width: 12em;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         background: #1d8122;
    //         span {
    //           position: relative;
    //           z-index: 10;
    //           transition: color 0.4s;
    //           display: inline-flex;
    //           align-items: center;
    //           padding: 0.8em 1.2em 0.8em 1.05em;
    //         }
    //       }
    //       .boton::before,
    //       .boton::after {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: 0;
    //       }
          
    //       .boton::before {
    //         content: "";
    //         background: #000;
    //         width: 120%;
    //         left: -10%;
    //         transform: skew(30deg);
    //         transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    //       }
          
    //       .boton:hover::before {
    //         transform: translate3d(100%, 0, 0);
    //       }
          
    //       .boton:active {
    //         transform: scale(0.95);
    //       }
    //     }
    //   }
      
    //   .card:hover {
    //     height: 30em;
    //     background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
    //   }
      
    //   .card:hover .header {
    //     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    //   }
      
    //   .card:hover .card .header .title {
    //     padding: 0;
    //   }
      
    //   .card .content .btn-link:hover {
    //     border-bottom: 1px solid #1d8122;
    //   }
}