@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

:root {
  /* fonts */
  --primary-font: 'Adamina', serif;
  font-family: --primary-font;
  --titulo-font: 'Lobster', cursive;
  --comida-font: 'Merienda', cursive;
  --producto-titulos-font: 'Oswald', sans-serif;
  --producto-subtitulos-font: 'Mulish', sans-serif;;
  --producto-parrafos-font: 'Finlandica', sans-serif;



  /* colors */
  --blacky: #080808;
  --yellowy: #FFFD98;
  --yellowy-stronger: #ffdb12;
  --redy: #E53D00;
  --navbarBackground: rgba(233, 233, 233, 0.747);
  --background: #fbfbfd;
  --producto-uno: #6D4D35;
  --producto-dos: #620A04;
  --producto-tres: #6D4D35;
  --producto-cuatro: #BA8194;
  --producto-cinco: #96835E;
  --producto-seis: #905F44;
  --producto-siete: #C18C5A;
  --producto-ocho: #957BFB;
  --producto-nueve: #481113;
  --producto-diez: #9D6427;
  --producto-once: #4E2E27;
  --producto-doce: #694008;
  --producto-trece: #623726;
  --producto-catorce: #521A1E;
  --producto-quince: #77340B;
  --producto-dieciseis: #C45221;
  --producto-diecisiete: #BA8194;
  --producto-dieciocho: #CD8241;
  --producto-diecinueve: #9C9F29;
  --producto-veinte: #9D6427;
	--PhoneInput-color--focus: #a60715;
}