@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root {
  /* fonts */
  --primary-font: 'Adamina', serif;
  font-family: --primary-font;
  --titulo-font: 'Lobster', cursive;
  --comida-font: 'Merienda', cursive;


  /* colors */
  --blacky: #22181C;
  --yellowy: #FFFD98;
  --redy: #E53D00;
  --navbarBackground: rgba(233, 233, 233, 0.747);
  --background: #fbfbfd;
  --producto-uno: rgb(109, 77, 53);
  --producto-dos: rgb(98, 10, 4);
  --producto-tres: rgb(109, 77, 53);
  --producto-cuatro: rgb(186, 129, 148);
  --producto-cinco: rgb(150, 131, 94);
}